version: '3.4'
services:
  backend:
    build: .
    image: backstage-local
    command: yarn start-backend
    env_file:
      - .env
    ports:
      - '7000:7000'
      - '3000:7000'
    links:
      - database
    volumes:
      - ./:/usr/src/app
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/backstage:/tmp/backstage

  lighthouse:
    image: spotify/lighthouse-audit-service
    ports:
      - '3003:3003'
    depends_on:
      - database
    env_file:
      - .env

  database:
    image: postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secret
    volumes:
      - db:/var/lib/postgresql/data
volumes:
  db: {}
